
.artist-details_ {
    display: flex;
}

.artist-details_ .banner {
    overflow: hidden;
}

.artist-details_ .banner img {
    border-radius: 100%;
    width: 250px;
    margin: 10px;
}

.artist-details_ .artist-info {
    padding: 50px 80px;
}

.artist-details_ .btns {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
}

.artist-details_ .btns .play-button {
    font-size: x-large;
    font-weight: 600;
    padding: 15px 30px;
    background-color: var(--heart);
    border-radius: 50px;
    cursor: pointer;
    transition: 200ms all ease-in-out;
}

.artist-details_ .btns .like-button svg {
    margin: 10px;
    padding: 15px;
    border: 2px solid gray;
    border-radius: 50%;
    cursor: pointer;
}

.artist-details_ .btns .play-button:hover {
    background-color: rgb(156, 60, 60);
}

.artist-details_ .btns svg use, .artist-items svg use {
  fill: transparent;
  stroke: gray;
  stroke-width: 2;
  transition: all 0.33s ease;
}

.artist-details_ .btns svg use:last-child, .artist-items svg use:last-child {
  fill: var(--heart);
  stroke: var(--heart);
  opacity: 0;
  transform: scale(0.33);
  transform-origin: center;
}

.artist-details_ .btns #on svg use, .artist-items #on svg use {
  stroke: transparent;
}

.artist-details_ .btns #on svg use:last-child, .artist-items #on svg use:last-child {
  opacity: 1;
  transform: none;
  transition: all 0.5s cubic-bezier(0.19, 2.41, 0.45, 0.94);
}

.artist-details_ .btns svg, .artist-items svg {
  width: 25px;
  height: 25px;
  overflow: visible !important;
  cursor: pointer;
}

.artist-details_ .btns * {
    margin-right: 10px;
}

.artist-details_ .btns .hide, .artist-items .hide{
    display: none;
}

.artist-details_ .artist-info .artist-name {
    font-size: xx-large;
    font-weight: 600;
}

.artist-details_ .artist-info .audience-detail {
    min-width: fit-content;
    font-size: large;
    margin: 15px 0;
}

.artist-details_ .artist-info .audience-detail span {
    margin: 10px 10px 5px 0;
}

.artist-details_ .artist-items {
    display: grid;
    row-gap: 20px;
}

.artist-details_ .artist-items .item {
    margin-left: 30px;
    display: grid;
    grid-template-columns: 5% 5% 20% 30% 20% 15%;
    align-items: center;
    padding: 10px 0;
    border-radius: 5px;
    transition: all 200ms ease-in;
}

.artist-details_ .artist-items .item:hover {
    background-color: rgb(37, 36, 36);
}

.artist-details_ .artist-items .item * {
    margin-left: 5px;
}

.artist-details_ .artist-items .duration {
    width: initial !important;
}

.artist-details_ .artist-items .banner{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    aspect-ratio: 1;
    overflow: hidden;
}

.artist-details_ .artist-items .banner img {
    border-radius: 10px !important;
    height: inherit;
    width: inherit;
}

.artist-details_ .artist-items span, .artist-items a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 300px;
    cursor: pointer;
}